<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" style="min-height: 100%; position: relative;">
<head>
    <title>Car Finder</title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/Site.css" rel="stylesheet" />
</head>
<body style="height:100%;">
    <div class="col-md-12 col-xs-11" style="height: 100%;">
        <div id="div1" class="col-md-1 col-xs-1" style="background-color:black; height:100%; top: 0; bottom: 0; left: 0; right: 0; height: 800px;"></div>
        <div id="div2" class="col-md-11 col-xs-10" style="background-color:lightblue; min-height: 800px;">
            <div>
                <div >
                    <center><h2>Car Finder</h2></center><br />
                </div>
                <div ng-app="carFinderApp">
                    <div ng-view>
                        <div ng-controller="carFinderController">

                            <div class="row">
                                <div class="col-md-2 col-md-offset-1">
                                    <select ng-model="selectedYear" ng-options="a for a in years" ng-change="getMakes()" class="form-control"></select>
                                </div>
                                <div class="col-md-2">
                                    <select ng-model="selectedMake" ng-options="b for b in makes" ng-change="getModels()" class="form-control"></select>
                                </div>
                                <div class="col-md-2">
                                    <select ng-model="selectedModel" ng-options="c for c in models" ng-change="getTrims()" class="form-control"></select>
                                </div>
                                <div class="col-md-2">
                                    <select ng-model="selectedTrim" ng-options="d for d in trims" ng-change="getCars()" class="form-control"></select>
                                </div>
                            </div>
                            <br />
                            <div class="col-md-8 col-xs-8 col-md-offset-2">
                                <br />
                                <table style="border: 2px solid black;">
                                    <thead>
                                        <tr>
                                            <th class="col-md-1 col-xs-1">
                                                Year
                                            </th>
                                            <th class="col-md-1 col-xs-1">
                                                Make
                                            </th>
                                            <th class="col-md-2 col-xs-2">
                                                Model
                                            </th>
                                            <th class="col-md-2 col-xs-2">
                                                Trim
                                            </th>
                                            <th class="col-md-2 col-xs-2">
                                                Body Style
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in allCars">
                                            <td>
                                                {{x.year}}
                                            </td>
                                            <td>
                                                {{x.makes}}
                                            </td>
                                            <td>
                                                {{x.modelName}}
                                            </td>
                                            <td>
                                                {{x.modelTrim}}
                                            </td>
                                            <td>
                                                {{x.body_style}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <script src="Scripts/jquery-2.1.3.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="Scripts/angular-app.js"></script>
    <script src="Scripts/angular-controller.js"></script>
    <script>
        $(document).ready(function () {

            setHeight($('#div1'), $('#div2'));

        });

        // sets height of element 1 to equal the height of element 2
        function setHeight(elem1, elem2) {
            var height = elem2.height()
            elem1.css('height', height);
        }
    </script>
</body>
</html>
